.why-kotlin-section {
  background-color: #fff;
  padding-top: 96px;

  &__youtube {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  &__image {
    max-width: 650px;
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}
